.modal {
    background-color: rgba(72, 72, 72, 0.25);
    visibility: hidden;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.m-visible {
    visibility: visible;
}


.s-visible {
    display: flex !important;
}

