.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f6f9;
}

.title{
    font-family:'Montserrat', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}

.form-container{
    padding: 32px 16px 48px 16px;
    border: solid 1px #e0e3e7;
    border-radius: 16px;
    background-color: #e8e7e7;
    width: 40%;
}

.input-form{
    margin-bottom: 8px;
}
.reg-center{
    display: flex;
    justify-content: center;
}
.reg-button{
    width: 100%;
    margin-top: 15px;
}
.input{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}